<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Agregar estilos para la vista de dispositivos pequeños */
        @media (max-width: 768px) {
            .flex-wrap {
                display: flex;
                flex-wrap: wrap;
            }
            .section-small {
                width: 50%;
            }
        }

   


    </style>
</head>
<body>
<div class="flex flex-col h-screen bg-slate-50">

    <!-- Barra de navegación superior -->
    <div style="background-color: #143153;" class=" text-white shadow w-full p-2 flex items-center justify-between">
        <div class="flex items-center">
            <h1 class="font-bold text-xl ml-5 mr-6 text-white">Espace Admin</h1>
            <div class="hidden md:flex items-center">
                <div class="ml-48"></div>
                <img  src="../images/LOGO_header.png"  alt="Logo" class="w-32 h-18 ml-96 ">
            </div>
            <div class="md:hidden flex items-center"> <!-- Show only on small devices -->
                <button id="menuBtn">
                    <i class="fas fa-bars text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>
    
        <!-- Notification and Profile Icons -->
        <div class="space-x-5">
            <button>
                <i class="fas fa-bell text-gray-500 text-lg"></i>
            </button>
            <button>
                <a href="/logout">
                    <i class="fas fa-user text-gray-500 text-lg"></i>
                </a>
            </button>
        </div>
    </div>
    <!-- Contenido principal -->
    <div class="flex-1 flex">
        <!-- Barra lateral de navegación (oculta en dispositivos pequeños) -->
        <div style="background-color: #143153;" class="p-2  w-60 flex flex-col hidden md:flex" id="sideNav">
            <nav>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/home">
                    <i class="fas fa-home mr-2"></i>HOME
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/teams">
                    <i class="fas fa-file-alt mr-2"></i>ENHANCED-TEAM
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/employee">
                    <i class="fas fa-users mr-2"></i>ENHANCED-EMP
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/profile">
                    <i class="fas fa-store mr-2"></i>PROFILE
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="#">
                    <i class="fas fa-exchange-alt mr-2"></i>Transacciones
                </a>
            </nav>

            <!-- Ítem de Cerrar Sesión -->
            <a class="block text-white py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white mt-auto" href="#">
                <i class="fas fa-sign-out-alt mr-2"></i>Cerrar sesión
            </a>

            <!-- Señalador de ubicación -->
            <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2"></div>

            <!-- Copyright al final de la navegación lateral -->
            <p class="mb-1 px-5 py-3 text-left text-xs text-cyan-500">Copyright WCSLAT@2023</p>

        </div>

        <!-- Área de contenido principal -->
        <div class="flex-1 p-4" style="background-color: #f4f3ef;">
            <!-- Campo de búsqueda -->
           

            <!-- Contenedor de las 4 secciones (disminuido para dispositivos pequeños) -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2 p-2">  
                
                    <div class="bg-white p-4 rounded-md">
                        <h2 class=" text-lg font-semibold pb-1">SUPERVISOR | OPERATOR </h2>
                        <div class="my1-"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px  mb-6"></div> <!-- Línea con gradiente -->
                        <div class="chart-container" style="position: relative; height:150px; width:100%">
                            <!-- El canvas para la gráfica -->
                            <canvas id="usersChart"></canvas>
                        </div>
                    </div>

                    <!-- Sección 2 - Gráfica de Comercios -->
                    <div class="bg-white p-4 rounded-md">
                        <h2 class="text-black text-lg font-semibold pb-1">ACCOUNT STATUS </h2>
                        <div class="my-1"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                        <div class="chart-container" style="position: relative; height:150px; width:100%">
                            <!-- El canvas para la gráfica -->
                            <canvas id="AccountChart"></canvas>
                        </div>
                    </div>

                    <!-- Sección 3 - Tabla de Autorizaciones Pendientes (disminuida para dispositivos pequeños) -->
            <div class="bg-white p-4 rounded-md">
                <h2 class=" text-lg font-semibold pb-4">OPERATOR Lineup</h2>
                <div class="my-1"></div> <!-- Espacio de separación -->
                <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                <div class="relative max-w-md w-full">
                    <div class="absolute top-1 left-2 inline-flex items-center p-2">
                        <i class="fas fa-search text-gray-400"></i>
                    </div>
                    <input id="searchInput_doneTask" class="w-full h-10 pl-10 pr-4 py-1 mb-6 text-base placeholder-gray-500 border rounded-full focus:shadow-outline" type="search" placeholder="Search here ...">
                </div>
                <table id="OpTable" class="w-full table-auto text-sm">
                    <thead>
                        <tr class="text-sm leading-normal">
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Name</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Email</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Service</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Status</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Action</th>
            
                        </tr>
                    </thead>
                   
                       
                        <tbody id ="tableBody_doneTask">
                            <tr class="odd:bg-white  even:bg-gray-50 dark:border-gray-700" th:each="C:${operatorList}">
                                <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.firstName}"></td>
                                <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.email}"></td>
                                <td scope="row" class="px-4 py-4 font-medium text-gray-500 whitespace-nowrap"><span th:each="service : ${C.services}" th:text="${service.name} + ' '"></span></td> 
                                <td scope="row" class="px-4 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.status}"></td>
                                <td scope="row" class="px-1 py-4 font-medium text-gray-500 whitespace-nowrap " >
                                    <div class="inline-block  text-yellow-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <a onclick="javascript:return confirm('are u sure ?')" th:href="@{/deleteUser(id=${C.id})}">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                    </a>
                                      </svg>
                                    </div>
                                    <div class="inline-block ml-4 text-red-600">
                                   
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <a onclick="javascript:return confirm('are u sure ?')" th:href="@{/deleteUser(id=${C.id})}">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                                      </a>
                                        </svg>
                                      </div>
                                    
                                      
                                   </td>
            
                            </tr>
                        </tbody>
                   
                </table>
                  
                </div>

                <!-- Sección 4 - Tabla de Transacciones (disminuida para dispositivos pequeños) -->
                     <div class="bg-white p-4 rounded-md ">
                        <h2 class=" text-lg font-semibold pb-4">SUPERVISOR Lineup</h2>
                        <div class="my-1"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                        <div class="relative max-w-md w-full">
                            <div class="absolute top-1 left-2 inline-flex items-center p-2">
                                <i class="fas fa-search text-gray-400"></i>
                            </div>
                            <input id="searchInput" class="w-full h-10 pl-10 pr-4 py-1 mb-6 text-base placeholder-gray-500 border rounded-full focus:shadow-outline" type="search" placeholder="Search here...">
                        </div>
                        <table id="SupList" class="w-full table-auto text-sm">
                            <thead>
                                <tr class="text-sm leading-normal">
                                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Name</th>
                                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Email</th>
                                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Service</th>
                                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Status</th>
                                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Action</th>
                    
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tbody id="tableBody">
                                    <tr class="odd:bg-white  even:bg-gray-50 dark:border-gray-700" th:each="C:${supervisorList}">
                                        <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.firstName}"></td>
                                        <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.email}"></td>
                                        <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap"><span th:each="service : ${C.services}" th:text="${service.name} + ' '"></span></td> 
                                        <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap" th:text="${C.status}"></td>

                                        <td scope="row" class="px-6 py-4 font-medium text-gray-500 whitespace-nowrap " >
                                            <div class="inline-block text-yellow-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                              </svg>
                                            </div>
                                            <div class="inline-block ml-4 text-red-600">
                                   
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <a onclick="javascript:return confirm('are u sure ?')" th:href="@{/deleteUser(id=${C.id})}">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                                              </a>
                                                </svg>
                                              </div>
                                            
                                              
                                           </td>
                    
                                    </tr>
                                </tbody>
                            </tbody>
                        </table>
    <!-- Botón "Ver más" para la tabla de Transacciones -->

</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Script para las gráficas -->
<script>
var tableRows = document.querySelectorAll("#OpTable tbody tr");
var OperateurCount = 0;
var activeAccount =0;
var nonActiveAccount =0;
tableRows.forEach(function(row) {
    var status = row.cells[3].innerText.trim(); 
    switch(status) {
        case "ACTIVE":
              activeAccount++;
            break;
        case "SUSPENDED":
              nonActiveAccount++;
            break;
    }

    OperateurCount++;
});

var tableRowsDone = document.querySelectorAll("#SupList tbody tr");
var supCount = 0;
tableRowsDone.forEach(function(row) {
    var status = row.cells[3].innerText.trim(); 
    switch(status) {
        case "ACTIVE":
              activeAccount++;
            break;
        case "SUSPENDED":
              nonActiveAccount++;
            break;
    }
    supCount++;
});



    // Gráfica de Usuarios
    var usersChart = new Chart(document.getElementById('usersChart'), {
        type: 'bar',
        data: {
            labels: ['OPERATUER', 'SUPERVISOR'],
            datasets: [{
                label: 'Number of Users', // Label for the dataset
                data: [OperateurCount, supCount],
                backgroundColor: ['#8B8B8D', '#00F0FF'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom' // Ubicar la leyenda debajo del círculo
            }
        }
    });

    // Gráfica de Comercios
    var commercesChart = new Chart(document.getElementById('AccountChart'), {
    type: 'pie',
    data: {
        labels: ['Active Account', 'Non-Active Account'],
        datasets: [{
            label: 'Account Status', // Add label for the dataset
            data: [activeAccount, nonActiveAccount], // Corrected data array
            backgroundColor: ['#FEC500', '#B10300'],
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            position: 'bottom' // Place legend at the bottom
        }
    }
});
    // Agregar lógica para mostrar/ocultar la navegación lateral al hacer clic en el ícono de menú
    const menuBtn = document.getElementById('menuBtn');
    const sideNav = document.getElementById('sideNav');

    menuBtn.addEventListener('click', () => {
        sideNav.classList.toggle('hidden'); // Agrega o quita la clase 'hidden' para mostrar u ocultar la navegación lateral
    });
</script>



<script>
    // Function to filter table rows based on search query
    function filterTable() {
        var input, filter, table, tbody, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break; // Break loop if one of the td matches
                    } else {
                        tr[i].style.display = "none"; // Hide row if no match
                    }
                }
            }
        }
    }
    
    // Add event listener to input field to trigger filtering on input
    document.getElementById("searchInput").addEventListener("input", filterTable);
</script>


<script>
    // Function to filter table rows based on search query
    function filterTable() {
        var input, filter, table, tbody, tr, td, i, txtValue;
        input = document.getElementById("searchInput_doneTask");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody_doneTask");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break; // Break loop if one of the td matches
                    } else {
                        tr[i].style.display = "none"; // Hide row if no match
                    }
                }
            }
        }
    }
    
    // Add event listener to input field to trigger filtering on input
    document.getElementById("searchInput_doneTask").addEventListener("input", filterTable);
</script>


</body>
</html>