<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Agregar estilos para la vista de dispositivos pequeños */
        @media (max-width: 768px) {
            .flex-wrap {
                display: flex;
                flex-wrap: wrap;
            }
            .section-small {
                width: 50%;
            }
        }

   


    </style>
</head>
<body>
<div class="flex flex-col h-screen bg-slate-50">

    <!-- Barra de navegación superior -->
    <div style="background-color: #143153;" class=" text-white shadow w-full p-2 flex items-center justify-between">
        <div class="flex items-center">
            <h1 class="font-bold text-xl ml-5 mr-6 text-white">Espace Admin</h1>
            <div class="hidden md:flex items-center">
                <div class="ml-48"></div>
                <img  src="../images/LOGO_header.png"  alt="Logo" class="w-32 h-18 ml-96 ">
            </div>
            <div class="md:hidden flex items-center"> <!-- Show only on small devices -->
                <button id="menuBtn">
                    <i class="fas fa-bars text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>
    
        <!-- Notification and Profile Icons -->
        <div class="space-x-5">
            <button>
                <i class="fas fa-bell text-gray-500 text-lg"></i>
            </button>
            <button>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="border border-black text-black bg-white  rounded-2xl font-bold px-7 mr-3 py-2 hover:bg-gray-200">
                        Log Out
                    </button>
                </form>
            </button>
        </div>
    </div>
    <!-- Contenido principal -->
    <div class="flex-1 flex">
        <!-- Barra lateral de navegación (oculta en dispositivos pequeños) -->
        <div style="background-color: #143153;" class="p-2  w-60 flex flex-col hidden md:flex" id="sideNav">
            <nav>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/home">
                    <i class="fas fa-home mr-2"></i>Task Management
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/teams">
                    <i class="fas fa-file-alt mr-2"></i>Team Management
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/employee">
                    <i class="fas fa-users mr-2"></i>Employ Management
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="/chef_projet/profile">
                    <i class="fas fa-store mr-2"></i>Profile
                </a>
                <a class="block text-white py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-cyan-300 hover:text-white" href="#">
                    <i class="fas fa-exchange-alt mr-2"></i>Logs
                </a>
            </nav>

            <!-- Ítem de Cerrar Sesión -->
          

            <!-- Señalador de ubicación -->
            

           

        </div>

        <!-- Área de contenido principal -->
        <div class="flex-1 p-4" style="background-color: #f4f3ef;">
            <!-- Campo de búsqueda -->
           

            <!-- Contenedor de las 4 secciones (disminuido para dispositivos pequeños) -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2 p-2">  
                    <div  class="p-4 rounded-md bg-white">
                        <h2 style="color: #143153;"  class=" text-lg font-semibold pb-1 text-black">Ongoing Tasks</h2>
                        <div class="my1-"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px  mb-6"></div> <!-- Línea con gradiente -->
                        <div class="chart-container" style="position: relative; height:150px; width:100%">
                            <!-- El canvas para la gráfica -->
                            <canvas id="usersChart"></canvas>
                        </div>
                    </div>

                    <!-- Sección 2 - Gráfica de Comercios -->
                    <div  class="bg-white p-4 rounded-md">
                        <h2  style="color: #143153;" class=" text-lg font-semibold pb-1 text-black">Completed Tasks</h2>
                        <div class="my-1"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                        <div class="chart-container" style="position: relative; height:150px; width:100%">
                            <!-- El canvas para la gráfica -->
                            <canvas id="commercesChart"></canvas>
                        </div>
                    </div>
 
                    <!-- Sección 3 - Tabla de Autorizaciones Pendientes (disminuida para dispositivos pequeños) -->
            <div class="bg-white p-4 rounded-md">
                <h2  style="color: #143153;" class=" text-lg font-semibold pb-4">Ongoing Tasks Lineup</h2>
                <div class="my-1"></div> <!-- Espacio de separación -->
                <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                <div class="relative max-w-md w-full">
                    <div class="absolute top-1 left-2 inline-flex items-center p-2">
                        <i class="fas fa-search text-gray-400"></i>
                    </div>
                    <input class="w-full h-10 pl-10 pr-4 py-1 mb-6 text-base placeholder-black border rounded-full focus:shadow-outline" id="searchInput" type="search" placeholder="Search...">
                </div>
                <table id="taskTable" class="w-full table-auto text-sm  font-bold">
                    <thead>
                        <tr class="text-sm leading-normal">
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Title</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Staus</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Cordinator</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Supervisor</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">opertaror</th>

                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr class="hover:bg-grey-lighter" th:each="task : ${listTasksUncompeted}">
                            <td class="py-2 px-4 border-b font-sans font-normal border-grey-light" th:text="${task.title}">Juan Pérez</td>
                            <td class="py-2 px-4 border-b font-sans font-normal" th:text="${task.status_task_temp}">Juan Pérez</td>
                            <td class="py-2 px-4 border-b font-sans font-normal" th:text="${taskUtility.getCorOrSupForTask(task.id, 'coordinator')}">Juan Pérez</td>
                            <td class="py-2 px-4 border-b font-sans font-normal" th:text="${taskUtility.getCorOrSupForTask(task.id, 'supervisor')}">Juan Pérez</td>
                            <td class="py-2 px-2 border-b font-sans font-normal mr-5" th:text="${taskUtility.getCorOrSupForTask(task.id, 'operateur')}">Juan Pérez</td>






                           

                        </tr>
                        
                      
                    </tbody>
                    </table>
                  
                </div>

                <!-- Sección 4 - Tabla de Transacciones (disminuida para dispositivos pequeños) -->
                     <div class="bg-white p-4 rounded-md ">
                        <h2 style="color: #143153;" class=" text-lg font-semibold pb-4">Completed Tasks Lineup</h2>
                        <div class="my-1"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                        <div class="relative max-w-md w-full">
                            <div class="absolute top-1 left-2 inline-flex items-center p-2">
                                <i class="fas fa-search text-gray-400"></i>
                            </div>
                            <input class="w-full h-10 pl-10 pr-4 py-1 mb-6 text-base placeholder-black border rounded-full focus:shadow-outline" id="searchInput_doneTask" type="search" placeholder="Search...">
                        </div>
    <table id="doneTable" class="w-full table-auto text-sm  font-bold">
        <thead>
            <tr class="text-sm leading-normal">
                <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Title</th>
                <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Staus</th>
                <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Cordinator</th>
                <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Supervisor</th>
                <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">opertaror</th>

            </tr>
        </thead>
        <tbody id="tableBody_doneTask" >
            <tr class="hover:bg-grey-lighter" th:each="task : ${listTasksCompleted}">
                <td class="py-2 px-4 border-b border-grey-light font-sans font-normal " th:text="${task.title}">Juan Pérez</td>
                <td class="py-2 px-4 border-b border-grey-light font-sans font-normal" th:text="${task.status_task_temp}">Juan Pérez</td>
                <td class="py-2 px-4 border-b border-grey-light font-sans font-normal" th:text="${taskUtility.getCorOrSupForTask(task.id, 'coordinator')}">Juan Pérez</td>
                <td class="py-2 px-4 border-b border-grey-light font-sans font-normal" th:text="${taskUtility.getCorOrSupForTask(task.id, 'supervisor')}">Juan Pérez</td>
                <td class="py-2 px-4 border-b border-grey-light font-sans font-normal" th:text="${taskUtility.getCorOrSupForTask(task.id, 'operateur')}">Juan Pérez</td>






               

            </tr>
            
          
        </tbody>
        </table>
    <!-- Botón "Ver más" para la tabla de Transacciones -->
 
</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Script para las gráficas -->
<script>

// Get the table rows containing the task data
var tableRows = document.querySelectorAll("#taskTable tbody tr");

// Initialize variables to store the count of tasks in each status
var notAssignedCount = 0;
var todoCount = 0;
var inProgressCount = 0;

// Loop through each table row and update the count based on the status
tableRows.forEach(function(row) {
    var status = row.cells[1].innerText.trim(); // Assuming status is in the second column

    // Increment the corresponding count based on the status
    switch(status) {
        case "NOTASSIGNED":
            notAssignedCount++;
            break;
        case "TODO":
            todoCount++;
            break;
        case "VALIDATIONIn_PROGRESS":
            inProgressCount++;
            break;
        // Add more cases for other statuses if needed
    }
});


var tableRowsDone = document.querySelectorAll("#doneTable tbody tr");

// Initialize variables to store the count of tasks in each status
var doneTask = 0;
var concelTask = 0;

// Loop through each table row and update the count based on the status
tableRowsDone.forEach(function(row) {
    var status = row.cells[1].innerText.trim(); // Assuming status is in the second column

    // Increment the corresponding count based on the status
    switch(status) {
        case "DONE":
            doneTask++;
            break;
        case "CANCELLED":
              concelTask++;
            break;
        // Add more cases for other statuses if needed
    }
});



    // Gráfica de Usuarios
    var usersChart = new Chart(document.getElementById('usersChart'), {
        type: 'doughnut',
        data: {
            labels: ['NOTASSIGNED', 'TODO' , 'IN_PROGRESS'],
            datasets: [{
                data: [notAssignedCount, todoCount , inProgressCount],
                backgroundColor: ['#8B8B8D', '#00F0FF', '#EAE700'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom' // Ubicar la leyenda debajo del círculo
            }
        }
    });

    // Gráfica de Comercios
    var commercesChart = new Chart(document.getElementById('commercesChart'), {
        type: 'doughnut',
        data: {
            labels: ['Done', 'CANCELLED'],
            datasets: [{
                data: [doneTask, concelTask],
                backgroundColor: ['#FEC500', '#B10300'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom' // Ubicar la leyenda debajo del círculo
            }
        }
    });

    // Agregar lógica para mostrar/ocultar la navegación lateral al hacer clic en el ícono de menú
    const menuBtn = document.getElementById('menuBtn');
    const sideNav = document.getElementById('sideNav');

    menuBtn.addEventListener('click', () => {
        sideNav.classList.toggle('hidden'); // Agrega o quita la clase 'hidden' para mostrar u ocultar la navegación lateral
    });
</script>


<script>
    // Function to filter table rows based on search query
    function filterTable() {
        var input, filter, table, tbody, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break; // Break loop if one of the td matches
                    } else {
                        tr[i].style.display = "none"; // Hide row if no match
                    }
                }
            }
        }
    }
    
    // Add event listener to input field to trigger filtering on input
    document.getElementById("searchInput").addEventListener("input", filterTable);
</script>


<script>
    // Function to filter table rows based on search query
    function filterTable() {
        var input, filter, table, tbody, tr, td, i, txtValue;
        input = document.getElementById("searchInput_doneTask");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody_doneTask");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break; // Break loop if one of the td matches
                    } else {
                        tr[i].style.display = "none"; // Hide row if no match
                    }
                }
            }
        }
    }
    
    // Add event listener to input field to trigger filtering on input
    document.getElementById("searchInput_doneTask").addEventListener("input", filterTable);
</script>
</body>
</html>