<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Sidebar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
   

        <!-- Navbar -->
    <!-- Your navbar code goes here -->


        <!-- Navbar -->
    <!-- Your navbar code goes here -->



    <div class="flex flex-no-wrap">
        <!-- Sidebar starts -->
        <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
        <div style="min-height: 716px" class="w-64 absolute sm:relative bg-zinc-800 shadow md:h-full flex-col justify-between hidden sm:flex">
            <div class="px-8">
                <div class="bg-slate-300 rounded-full p-12  mr-5 flex items-center justify-center mt-3" style="width: 170px; height: 170px;">
                  <img class="w-full h-full" style="width: 120px; height: 100px;" src="/images/employee.png" alt="Logo">
              </div>
              <p class="mt-3 mr-8 text-center   font-bold text-white">𝙴𝚜𝚙𝚊𝚌𝚎 Supervisor</p>
  
                <ul class="mt-12">
                    <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
                        <a href="/supervisor/home" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <rect x="4" y="4" width="6" height="6" rx="1"></rect>
                                <rect x="14" y="4" width="6" height="6" rx="1"></rect>
                                <rect x="4" y="14" width="6" height="6" rx="1"></rect>
                                <rect x="14" y="14" width="6" height="6" rx="1"></rect>
                            </svg>
                            <span class="text-sm ml-2">Employees</span>
                        </a>
                    </li>
                    <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                        <a href="/supervisor/tasks" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
                            </svg>
                            <span class="text-sm ml-2">Tasks</span>
                        </a>
                    </li>
                    <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                        <a href="/supervisor/profile" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
                            </svg>
                            <span class="text-sm ml-2">Profile</span>
                        </a>
                    </li>
                    <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                        <a href="javascript:void(0)" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <polyline points="12 4 4 8 12 12 20 8 12 4" />
                                <polyline points="4 12 12 16 20 12" />
                                <polyline points="4 16 12 20 20 16" />
                            </svg>
                            <span class="text-sm ml-2">Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      
        <!-- Sidebar ends -->
        <!-- Remove class [ h-64 ] when adding a card block -->
        <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
            <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
           <!-- <div class="w-full h-full rounded border-dashed border-2 border-gray-300"> -->
  
                <!-- Place your content here -->
  
                <header class="bg-white rounded-3xl bg-opacity-5 text-white shadow-lg hidden md:block">
                  <div class=" bg-zinc-800 rounded-3xl container mx-auto flex items-center justify-between h-24">
                    <a href="" class="flex items-center">
                      <img class="w-48 h-auto" src="/images/LOGO_header.png" alt="Logo">
                  </a>
                    <nav class="contents font-semibold text-base text-black lg:text-lg">
                    </nav>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="border border-black text-black bg-white  rounded-2xl font-bold px-7 mr-3 py-2 hover:bg-gray-200">
                            Log Out
                        </button>
                    </form>
                    
                  </div>
              </header>


      
              <div class="sm:px-6 w-full">
                <div class="px-4 md:px-10 py-4 md:py-7">
                    <div class="flex items-center justify-between">
                        <input type="text" id="searchInput" placeholder="Search..." class="p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500 mb-1">
                        <div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600   bg-gray-200  hover:bg-gray-300     cursor-pointer rounded">
                            <p>Sort By:</p>
                            <select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1">
                                <option class="text-sm text-indigo-800">Latest</option>
                                <option class="text-sm text-indigo-800">Oldest</option>
                                <option class="text-sm text-indigo-800">Latest</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="bg-white  py-4  px-4 md:px-8 xl:px-10">
                    
                    <div class="overflow-x-auto">
                        <table class="w-full whitespace-nowrap">
                            <tbody id="tableBody">
                                <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100  rounded relative"  th:each="task:${listeTask}">
                                 
                                    <h5 hidden  th:text="${task.id}" name="" id="idTaskForjs"></h5>
                                    
                                    
                                    <td>
                                        
                                        <div class="ml-5">
                                            <div class="flex items-center pl-5">
                                                <p id="id_card" class="text-base font-medium leading-none text-gray-700  mr-2"  th:text="${task.id}">Marketing Keynote Presentation</p>
                                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg1.svg" alt="clip">
                                                
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- Your existing code for other columns -->
                                        <!-- Add a hidden element to store the description -->
                                        <div id="description_card" style="display: none;" th:text="${task.description}">Task description goes here</div>
                                    </td>
                                    <td class="">
                                        <div class="flex items-center pl-5">
                                            <p id="title_card" class="text-base font-medium leading-none text-gray-700  mr-2"  th:text="${task.title}">Marketing Keynote Presentation</p>
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg1.svg" alt="clip">
                                        </div>
                                    </td>
                                    <td class="pl-24">
                                        <div id="gravity_card" style="display: none;" th:text="${task.priority_temp}"></div>
                                        <div class="flex items-center">
                                           <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg2.svg" alt="tag">
                                           <button type="button" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded ">
                                            <span th:text="${task.priority_temp}"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="pl-5">
                                        <div class="flex items-center ml-3">
                                           <button
                                           
                                           class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg bg-white text-blue-gray-900 shadow-md shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none flex items-center gap-3"
                                           type="button">
                                           
                                           <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg3.svg" alt="list">  
                                           <span th:text="${task.status_task_temp}"></span>
                                         </button>
                                        </div>
                                    </td>
                                    <td class="pl-5">
                    
                                        <div class="flex items-center mr-4">
                                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg4.svg" alt="chat">
                                            <p class="text-sm leading-none text-gray-600   ml-2" th:text="${taskUtility.getCorOrSupForTask(task.id, 'operateur')}" >23</p>
                                        </div>
                                    </td>
                                  
                                    <td class="pl-5">
                                        <button class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded" th:text="${taskUtility.getDeadline(task)}">Due today at 18:00</button>
                                    </td>
                                    <td class="pl-4">
                                        
                                        <a href="#_" class="mr-3 read-more-button relative px-5 py-2.5 overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group">
                                            <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
                                            <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
                                            <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                                            <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
                                            <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
                                            <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">View</span>
                                            </a>
                                    </td>
                                    <td th:if="${task.status_task_temp == T(com.iben.gestiontaches.enums.statusCode).VALIDATIONIn_PROGRESS}">
                                        <form th:action="@{/supervisor/taskValide}" method="POST">
                                            <input type="hidden" name="id" th:value="${task.id}" />  
                                            <button>  
                                        <a href="#_" class="relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
                                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                                            <span class="relative">Valider</span>
                                            </a>
                                        </button> 
                                        </form>
                                    </td>
                                    <td>
                                        <a th:href="@{/supervisor/conversation(id=${task.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                          </svg></a>
                                    </td>
                                </tr>
                              
                               
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <style>
                .checkbox:checked + .check-icon {
                    display: flex;
                }
            </style>
                




                








      

<div id="popup-form" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-white p-4 rounded-lg">
        <h2 class="text-xl font-bold mb-2 bg-center ml-60 text-blue-700">Task Detail</h2>
        <form th:action="@{/supervisor/addTask}" method="post">
            <div id="form">
                <div class="flex flex-wrap items-start gap-2">
                    <div class="w-full">
                        <div class="py-2">
                            <div class="bg-white rounded shadow mt-2 py-2">
                                <div class="px-3">
                                    <p class="text-lg font-semibold text-blue-600">Task Inpformation:</p>
                                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-3">
                                        <div>
                                            <p class="text-base font-medium text-gray-800">Task Id:</p>
                                            <div class="relative top-1">
                                                <div  class="relative w-full mt-1 border bg-slate-100 border-gray-300 rounded outline-none">
                                                    <input  type="text" th:text="${taskId}" name="taskId" id="titleId" class="w-full px-3 py-2 text-red-700  font-extrabold">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="text-base font-medium text-gray-800">Task Title:</p>
                                            <div class="relative top-1">
                                                <div  class="relative w-full mt-1 border bg-slate-100 border-gray-300 rounded outline-none">
                                                    <input  disabled  type="text" name="title" id="titleInput" class="w-full px-3 py-2 text-red-700  font-extrabold">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="text-base font-medium text-gray-800">Duration: *</p>
                                            <div class="relative top-1">
                                                <div class="relative w-full mt-1 border border-gray-300 rounded outline-none">
                                                    <input required th:value="${calender.duration}" name="duration" type="number" class="w-full px-3 py-2">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="text-base font-medium text-gray-800">Start Date: *</p>
                                            <input required th:value="${calender.startDate}" type="date" name="startDate" class="w-full px-3 py-2 mt-2 border border-gray-300 rounded outline-none">
                                        </div>
                                        <div>
                                            <p class="text-base font-medium text-gray-800">Gravity:</p>
                                            <div class="relative w-full mt-1 border bg-slate-100 border-gray-300 rounded outline-none">
                                                <input disabled  type="text" name="title" id="gravityInput" class="w-full px-3 py-2 text-red-700  font-extrabold">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <p class="text-lg font-semibold text-blue-600">Task Description :</p>
                                    <div class="mt-3 border border-gray-300 rounded">
                                        <textarea disabled id="descInput" class="resize-none w-full h-32 px-3 py-2 text-base outline-none text-red-700 font-extrabold bg-slate-100"  required name="description"></textarea>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <p class="text-base font-semibold text-blue-500">Employee: *</p>
                                    <div class=" p-1 relative  mt-1 border border-gray-300 rounded outline-none mb-3">
                                        <select  name="opUserId" id="servicesDropdown" class="w-full px-3 py-2 mb-3">
                                            <option th:each="emp : ${listeEmp}" th:value="${emp.id}" th:text="${emp.lastName}"></option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                </div>
                               
                            </div>
                        
                           
              
                            
                            
                            <div class="mt-3 flex justify-end">
                                
                                <button class="mr-2 bg-yellow-600 text-white font-bold px-4 py-2 rounded hover:bg-yellow-800 focus:outline-none focus:bg-blue-600">
                                    <a th:href="@{/supervisor/conversation(id=${24})}">Send message</a>
                                </button>
                                <button class="bg-blue-500 text-white font-bold px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit

                                </button>
                                <button type="button" id="close-form" class="ml-2 bg-gray-300 text-gray-800 font-semibold px-4 py-2 rounded hover:bg-gray-400 focus:outline-none focus:bg-gray-400">Cancel</button>
                              

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        const readMoreButtons = document.querySelectorAll('.read-more-button');

        readMoreButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                const row = button.closest('tr');
                document.getElementById('popup-form').classList.remove('hidden');

                // Retrieve the title and set it for the corresponding card
               
                const titleElement = row.querySelector('#title_card'); 
                const titleInput = document.getElementById('titleInput');

                const idElement = row.querySelector('#id_card');
                const idInput = document.getElementById('titleId');
               
                

                const descrElement = row.querySelector('#description_card'); 
                const descreptionInput = document.getElementById('descInput');

                const gravityElement = row.querySelector('#gravity_card');
                const gravityInput = document.getElementById('gravityInput');

                //const taskId = card.querySelector('#idTaskForjs').textContent.trim();
                //const taskIdInput = document.getElementById('titleId');
                //const taskIdInput2 = document.getElementById('titleId2');

               // taskIdInput.value = taskId;
               //taskIdInput2.value = taskId;

                //const url = 'http://localhost:8080/supervisor/tasks/' + taskId;
                //console.log(taskId);
              
                // window.location.href = url;

               // console.log("Task ID:", taskId);




               console.log(titleInput);
               console.log(titleElement);

                titleInput.value = titleElement.textContent.trim();
                idInput.value = idElement.textContent.trim();
                descreptionInput.value = descrElement.textContent.trim();
                gravityInput.value = gravityElement.textContent.trim();
            });
        });

        document.getElementById('close-form').addEventListener('click', function() {
            document.getElementById('popup-form').classList.add('hidden');
        });
    });



 

</script>

<script>
    // Function to filter table rows based on search query
    function filterTable() {
        var input, filter, table, tbody, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableBody");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break; // Break loop if one of the td matches
                    } else {
                        tr[i].style.display = "none"; // Hide row if no match
                    }
                }
            }
        }
    }
    
    // Add event listener to input field to trigger filtering on input
    document.getElementById("searchInput").addEventListener("input", filterTable);
</script>


        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
            integrity="sha384-3VP2G0iGcHAbB5Xje2LcUMU89OLbl0xV6Wy1v4CXTmRc3Z7XaPM3YdVKjt8Dk9HN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"
            integrity="sha384-gY2AT2oiAnZlK4flsiUxRyC+P5xghWrdeMDzcP+TDGJ2sZ6gM8LTc77ag0I9JLb6"
            crossorigin="anonymous"></script>

</body>
</html>